#adminmenumain, #wpadminbar, #screen-meta, .jcd-narrow, .jcd-wide form, .jcd-wide h3, #wpfooter {
    display: none;
}

#wpcontent {
    margin-left: 0;
}

.wrap {
    margin: 0;
}

.jcd-wide {
    width: 100%;
}

#wpcontent .postbox {
    margin: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}

#wpcontent .inside {
    padding: 0;
}

#wpcontent h2 {
    padding: 0;
    cursor: default;
}

.mt-tabs .wptab:has(table) {
	overflow-x: visible !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}
caption {
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 2em;
}

thead th {
    background: #e9e9e9;
	white-space: nowrap;
}

th {
    background: #f6f6f6;
    text-align: left;
}
th[scope=col] {
    padding: 12px 4px;
}
th[scope=row] {
    border-bottom: 1px solid #eee;
    background: transparent;
}
td {
    padding: 4px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #f3f3f3;
}

th.mt-id {
    width: 12em;
	font-family: monospace;
}

td.mt-owed, td.mt-price, td.mt-paid, td.mt-tickets {
    text-align: right;
    width: 6em;
}

td.mt-type {
   min-width: 6em;
}

th.mt-hidden,
td.mt-hidden {
    opacity: .25;
	background-image: repeating-linear-gradient( 45deg, #eee, #eee 10px, #fff 10px, #fff 20px );
}

.notice,
.tabs {
    display: none;
}

.my-tickets th button {
	position: relative;
	display: inline-block;
	margin: 0 4px 0 0;
	width: 24px;
	height: 24px;
	line-height: 1;
	background: #fff;
	color: #000;
	border: 1px solid #eee;
	border-radius: 4px;
}

.my-tickets th > span {
	display: block;
	margin-bottom: 4px;
}

th button.sortable::before,
th button.sortable::after {
	font-family: dashicons;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	display: inline-block;
	font-weight: 700;
}

th button.sortable::before {
	content: "\f343";
	top: -2px;
}

th button.sortable::after {
	content: "\f347";
	bottom: -2px;
}

th[aria-sort=ascending] button.sortable::before {
	color: #fff;
}

th[aria-sort=descending] button.sortable::after {
	color: #fff;
}

th[aria-sort=descending] button.sortable,
th[aria-sort=ascending] button.sortable {
	background: #000;
}

th button.mt-hide-button .dashicons,
th button.mt-hide-button .dashicons::before {
	left: 0;
	top: 0;
	position: absolute;
}

table a:hover, table a:focus {
    text-decoration: none;
}

@media print {
    .notice, .mt-back, .jcd-wide h2.hndle, .mt-hidden, button, input {
        display: none;
    }
    td, th {
        border: 1px solid #f0f0f0;
    }
    tr:nth-of-type(odd) {
        background: #fefefe;
    }
	body { print-color-adjust: exact; }
}